:root {
  --background-color: #0f0f0f;
  --foreground-color: #dfdfdf;
  background: var(--background-color);
  font-family: system-ui;
  color: var(--foreground-color);
  font-size: 14px;
  a {
    color: #a4a4ff;
    &:visited {
      color: #6c92b5;
    }
  }

  .MuiTablePagination-selectLabel {
    @media screen and (max-width: 400px) {
      display: none;
    }
  }

  // Prevent zooming on input focus (mobile)
  @media screen and (-webkit-min-device-pixel-ratio:0) { 
	select:focus,
	textarea:focus,
	input:focus {
	  font-size: 16px;
	}
  }
}
